<html>
	<head>
		<meta charset="utf-8">

			</head>
	<body>
        <p>Reset Application to see update</p>
<form method="POST" action="/edit" target="_blank">
  <h2>Edit Email:</h2>
<input type = "text" name = "newEmail"> 
  <button type="submit">Update</button>
</form>


	</body>
</html>
